.container{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    align-items:center;
    height:1000px;
    width: 1000px;
    flex-wrap:wrap;
    justify-content:center;
    border:2px solid black;
    background-color: rgb(116, 220, 210);
    column-gap:10px;
}
.item{
    height:100px;
    width:100px;
    background-color:red;
    border:2px solid black;
    color:white;
    text-align:center;
}