.container {
    display: grid;
    height: 400px;
    width: 600px;
    background-color: aqua;
    border:1px solid black
}
.item{
    height:100px;
    width:100px;
    background-color: red;
    border:1px solid brown;
    color:white;
    align-items:center;
    text-align:center;
}
