.container{
/* grid-template-columns:1fr 1fr 1fr 1fr; */
grid-template-columns: repeat(4,1fr);
/* grid-template-rows: repeat(3,1fr); */
justify-items: center;
align-items: center;
/* grid-template-areas:"header header header header" "main main . sidebar" "footer footer footer footer"; */
    display: grid;
    height: 400px;
    width: 600px;
    background-color: aqua;
    border:1px solid black
}
.item{
    height:100px;
    width:100px;
    background-color: red;
    border:1px solid brown;
    color:white;
    align-items:center;
    text-align:center;
}
/* .box{
    grid-column: 1 / span 2;
    grid-row: 3 / 4;
}
@media(max-width:500px){
    .container{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(4,1fr);
        grid-template-areas:"header header" "main main" "sidebar sidebar" "footer footer";
    }
} */

/* .item{
    grid-column: 1/2;
    grid-row: 2/3;
} */

/* .item1{
    grid-area:header;
}
.item2{
    grid-area:main;
}
.item3{
    grid-area:sidebar;
}
.item4{
/* 
/* .box{
    grid-area:footer;
} *