.item{
    height:500px;
    width:450px;
    background-color: rgb(0, 123, 255);
    border:1px solid brown;
    color:rgba(255, 255, 255, 0.515);
    align-items:center;
    text-align:center;
}
.box{
    grid-column: 1 / span 2;
    grid-row: 3 / 4;
}
@media(max-width:500px){
    .container{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(4,1fr);
        grid-template-areas:"header header" "main main" "sidebar sidebar" "footer footer";
    }
}
