body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f8f1f1;
}
nav{
    display: flex;
    justify-content: center;
    background-color: #1e1e1e;
    color: rgb(216, 96, 15);
    padding: 1rem;
    text-align: center;
}
.logo{
    font-size: 1.5rem;
    font-weight: bold;
    color: blanchedalmond;
}
.menu{
    /* list-style: none; */
    display: none;
    flex-direction: column;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 200px;
    gap: 2rem;
}
.hamburger{
    font-size: 2rem;
    color: blanchedalmond;
    cursor: pointer;
    display: block;
}
/*tablet and desktop view*/
@media(min-width:768px){
    .menu{
        display: flex;
        position: static;
        flex-direction: row;
        background: none;
        width: auto;
        gap: 3rem;
    }
    .hamburger{
        display: none;
    }
}