div.box1{
    display : inline-block;
    color : rgb(123, 156, 5);
    border : 2px solid green;
    padding : 10px;
    margin : 10px;
    height: 50px width 90px;
}
div.box2{
    display : block;
    color : rgb(154, 21, 21);
    background-color : black;
    border : 2px solid rgb(14, 12, 12);
    padding : 10px;
    margin : 10px;
    height: 50px width 90px;
    text-align: center;
}
div.box3{
    display : inline;
    color : rgb(28, 170, 177);
    border : 2px solid rgb(23, 148, 170);
    padding : 10px;
    margin : 10px;
    height: 50px width 90px;
    text-align: right;
}